@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.noPrivilegeContainer {
  @include type-style("body-compact-01");
  color: $support-error;
}

.table {
  [data-testid$="-name"] {
    @include type-style("body-compact-01");
    font-weight: 700;
  }
  td[data-testid$="-name"],
  td[data-testid$="-description"] {
    width: 25%;
  }
  td[data-testid$="-durationMins"],
  td[data-testid$="-actions"] {
    width: 11%;
  }
}
