@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

// Form Container

.formSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.phoneNumberField {
  flex: 1 1 14rem;
  min-width: 0;
  padding-bottom: $spacing-03 + $spacing-01;

  > * {
    flex: 1 1 0;
    min-width: 0;
  }
}
